#title {
  text-align: center;
}

img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.selected {
  color: blue;
}

.caption {
  width: 325px;
}

.jumbotron {
  text-align: center;
  color: white;
  background-image: url("./images/test.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    color: #333333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li:hover {
    color: #111111;
}

.container-fluid {
  padding: 0;
}
